body{
    margin: 0;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float:right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: rgb(255,192,203);
    opacity: 60%;
}

.topnav a.active {
    color: rgb(255,192,203);
    opacity: 80%;
}

.navigation{
    font-family: "Trebuchet MS";
}

.navigation img{
    overflow: hidden;
    width: 5vh;
    margin-left: 96.8vh;
}

.box {
    width: 500px;
    height: 500px;
    border: 4px solid;
    padding: 50px;
    margin: 20px;
    margin-left: 70vh;
    margin-top: 10vh;
    font-family: "Gilroy ExtraBold";
    overflow: visible;
}

.boxadmin{
    background-color: lightblue;
    width: 500px;
    height: 100px;
    overflow: auto;
}


.titel{
    font-family: "Gilroy ExtraBold";
    text-align: center;
}
[type="datum"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="datum"]::-webkit-inner-spin-button {
    display: none;
}
[type="datum  "]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

label {
    display: block;
}
input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
}

.box2{
    width: 50%;
    margin-left: 45vh;
    color: rgb(255,192,203);
    background: #333333;
    height: 300px;
    padding: 50px;
    text-align: center;
    overflow: hidden;
    margin-top: 15vh;
    font-family: "Gilroy ExtraBold";
}
form {

}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.weetjesimg{
    width: 100px;
}

.welkomform{
    padding-left: 5vh;
    width: 550px;
    height: 450px;
    padding: 10vh;
    position: relative;
    margin-top: -5vh;
}

#insturen{
    height: 200px;
    width: 750px;
}




