body{
    margin: 0;
}

.btn-primary{
    background-color: #F06292;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float:right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: rgb(255,192,203);
    opacity: 60%;
}

.topnav a.active {
    color: rgb(255,192,203);
    opacity: 80%;
}

.navigation{
    font-family: "Trebuchet MS";
}

.navigation img{
    overflow: hidden;
    width: 5vh;
    margin-left: 96.8vh;
}

.box0{
    border: 4px solid;
    padding: 30px;
    /*margin: 20px;*/
    margin-left: 65vh;
    margin-top: 10vh;
    font-family: "Gilroy ExtraBold";
    overflow: auto;
    width: 600px;
    max-width: 100vw;
    box-sizing: border-box;
    max-height: 70vh;
    float: left;
    /*bot*/
}
.box {
    border: 4px solid;
    padding: 30px;
    /*margin: 20px;*/
    margin-left: 25vh;
    margin-top: 10vh;
    font-family: "Gilroy ExtraBold";
    overflow: auto;
    width: 600px;
    max-width: 100vw;
    box-sizing: border-box;
    max-height: 70vh;
    float: left;
    /*bot*/

}

.random-box {
    background-color: black;
    color: white;
    margin-left: 65vh;
}

.boxadmin{
    background-color: lightblue;
    width: 500px;
    height: 100px;
    overflow: auto;
}


.titel{
    font-family: "Gilroy ExtraBold";
    text-align: center;
}
[type="datum"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="datum"]::-webkit-inner-spin-button {
    display: none;
}
[type="datum  "]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

label {
    display: block;
}
input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
}

.box2{
    width: 50%;
    margin-left: 45vh;
    color: rgb(255,192,203);
    background: #333333;
    height: 70vh;
    padding: 50px;
    text-align: center;
    overflow: hidden;
    margin-top: 5vh;
    font-family: "Gilroy ExtraBold";
}

.weetjes{
    text-align: left;
    margin-top: 10vh;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.weetjesimg{
    width: 100px;
}

.welkomform{
    padding-left: 5vh;
    width: 550px;
    height: 450px;
    padding: 10vh;
    position: relative;
    margin-top: -5vh;
}

#insturen{
    height: 200px;
    width: 750px;
}

.weetjesgebruiker {
    width: 500px;
    border: 4px solid;
    border-color: rgb(255,192,203);
    padding: 50px;
    margin: 20px;
    margin-left: 110vh;
    margin-top: -27vh;
    height: 600px;
    border: 4px solid;
    border-color: #F06292;
    overflow: auto;
}

.burgermenu{
    display: none;
}


@media screen and (max-width: 600px) {
    html{
        width: 100%;
    }

    .burgermenu{
display: block;
width: 70vh;
    }
    /* Style the navigation menu */
    .topnav2 {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav2 #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav2 a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    /* Style the hamburger menu */
    .topnav2 a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Add a grey background color on mouse-over */
    .topnav2 a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    .active2 {
        background-color: #333;
        color: white;
    }

    .navigation{
        display: none;
    }

    .box0{

        padding: 30px;
        /*margin: 20px;*/
        font-family: "Gilroy ExtraBold";
        overflow: auto;
        width: 500px;
        max-width: 90vw;
        box-sizing: border-box;
        max-height: 70vh;
        margin-left: 2.5vh;
        margin-top: 5vh;
        margin-bottom: 10vh;
        /*bot*/
    }

    .boxadmin{
        background-color: lightblue;
        width: 500px;
        height: 100px;
        overflow: auto;

    }

    .random-box {
        background-color: black;
        color: white;
    }

    .weetjesgebruiker {
        width: 300px;
        border: 4px solid;
        border-color: rgb(255,192,203);
        padding: 50px;
        margin: 20px;
        margin-left: -5vh;
        margin-top: 10vh;
        height: 450px;
        border: 4px solid;
        border-color: #F06292;
        overflow: auto;
    }

    .welkomform{
        width: 550px;
        height: 450px;
        padding: 10vh;
        margin-top: -5vh;
        float: left;


    }

    #insturen{
        width: 30vh;
        margin-left: -5vh;
    }
    #dag{
        margin-left: -5vh;
    }

    .btn-primary{
        margin-left: -5vh;
    }

    .random-box{
        margin-left: 0vh;

    }

    #weetjeszoeker{
        margin-left: 5vh;
        text-align: left;
    }
    #dag{
        margin-left: -1vh;
        margin-bottom: 1vh;
        margin-top: 1vh;
    }

    .wrapper{
        width: 80%;
    }
    .btn-primary{
        margin-left: 1vh;
    }
    .box{
        width: 70%;
        margin-left: 4vh;
    }
}




